@{
    Layout = null;
}

@model VehicleServiceManagement.Models.CustomerCommanModel

 <link href="~/Images/Logo/vehicle.png" rel="icon">
<link href="~/css/Registertionbootstrap.min.css" rel="stylesheet" />
<script src="~/css/Registertionbootstrap.min.js"></script>
<script src="~/css/jquery-1.11.1.min.js"></script>
<link href="~/css/Mycss.css" rel="stylesheet" />
<script src="~/js/site.js"></script>
<style>
    input.error {
        border: 1px solid red;
        color: red;
    }

    label.error {
        font-weight: bold;
        color: red;
    }

    .redcolor {
        color: red;
    }

    .Greencolor {
        color: green;
    }
    .login {
        background: url('./images/login-new.jpeg')
    }
</style>
<partial name="_CommanShared" />
<!------ Include the above in your HEAD tag ---------->
<body class="h-screen font-sans login bg-cover"></body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <a style="color:green">Forget Password</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form-OTP" method="post" asp-controller="Vehicle" asp-action="Changepass" role="form" style="display: block;">
                                <div class="form-group">
                                    <input tabindex="1" type="password" name="password" class="form-control" placeholder="password" id="txtPassword" asp-for="customerModel.Password" required minlength="8" maxlength="50">
                                </div>
                                <div class="form-group">
                                    <input tabindex="2" type="password" name="confirm password" class="form-control" id="txtConfirmPassword" placeholder="confirm password" required minlength="8" maxlength="50">
                                </div>
                                <div class="registrationFormAlert" id="CheckPasswordMatch">
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" tabindex="3" class="form-control btn btn-login" value="Submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="lastDiv"></div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
@*To use Jquery*@
<script src="~/js/jquery.min.js"></script>
<!-- For jquery validation plugin -->
<script src="~/plugins/JqueryValidation/jquery-1.11.1.min.js"></script>
<script src="~/plugins/JqueryValidation/jquery.validate.min.js"></script>
<script src="~/plugins/JqueryValidation/additional-methods.min.js"></script>
<script>
    $(document).ready(function () {

        $("#lastDiv").nextAll("center").remove();

        setTimeout(function () {

            $("#lastDiv").nextAll("div").remove();

        }, 400);

        setTimeout(function () {

            $("#lastDiv").nextAll("div").remove();

        }, 500);

    });
</script>
<script>
    $(document).ready(function () {
        //To check password and confirmpassword
        $("#txtConfirmPassword").keyup(checkPasswordMatch);
    });
</script>
<script>
    //To check password and confirmpassword
    function checkPasswordMatch() {
        $("#CheckPasswordMatch").text("");
        $("#CheckPasswordMatch").removeClass("redcolor")
        $("#CheckPasswordMatch").removeClass("Greencolor")

        var password = $("#txtPassword").val();
        var confirmPassword = $("#txtconfirmpassword").val();

        if (password == "" || confirmPassword == "") {
            $("#CheckPasswordMatch").text("");

        }
        else if (password != confirmPassword) {
            $("#CheckPasswordMatch").text("Passwords does not match!").addClass("redcolor");
        }
        else
            $("#CheckPasswordMatch").text("Passwords match.").addClass("Greencolor");
    }
    //Jquery validation
    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });
    //To email
    $("#login-form-OTP").validate({
        password: {
            required: true,
            email: true,
            maxlength: 50
        },
        txtConfirmPassword: {
            required: true,
            email: true,
            maxlength: 50
        },
        //By this submit handler only we can able to use submit and button
        submitHandler: function (form) {
            form.submit();
        }
    });
</script>
