@model SeviceFollowCommanModel
<!--Grid Form-->
<style>
    input.error {
        border: 1px solid red;
        color: red;
    }

    label.error {
        font-weight: bold;
        color: red;
    }
</style>
<div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
    <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
        <div class="bg-gray-500 px-2 py-3 border-solid border-gray-400 border-b mt-4 text-center" style="color:white;font-size:30px">
            SERVICE DETAILS
        </div>
        <div class="p-3">
            <form class="w-full" id="Service" method="POST" asp-area="Service" asp-controller="Service" asp-action="SaveService">
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <input type="hidden" asp-for="serviceFollowup.ServiceId" name="ServiceId" />
                        <label class="block uppercase tracking-wide text-gray-900 text-xs font-light mb-1">
                            <strong>  When the Vehicle is get Delivered:<span style="color:red;">*</span></strong>
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600" type="date" placeholder="Delivery Date" asp-for="serviceFollowup.DeliveryOn" name="DeliveryOn" required id="dpvehicledelivered"/>
                    </div>
                    <div class="w-full md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-gray-900 text-xs font-light mb-1"
                               for="grid-last-name">
                            <strong> Amount were paid:<span style="color:red;">*</span></strong>
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600 numberonly" type="text" placeholder="Amount were paid" asp-for="serviceFollowup.TotalPrice" name="TotalPrice" required maxlength="9">
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-gray-900 text-xs font-light mb-1"
                               for="grid-first-name">
                            <strong> Re-Repair:<span style="color:red;">*</span></strong>
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600" type="text" placeholder="Problems that facing again after an service done" asp-for="serviceFollowup.ReRepair" name="ReRepair" maxlength="200" required />
                    </div>
                    <div class="w-full md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-gray-900 text-xs font-light mb-1"
                               for="grid-last-name">
                            <strong> When The Problem started In ur Vehicle:<span style="color:red;">*</span></strong>
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-grey-darker border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white-500 focus:border-gray-600" type="date" asp-for="serviceFollowup.FromOn" name="FromOn" id="dpproblemstartedinvehicle" required>
                    </div>
                </div>
                <div class="col-2 text-right">
                    <button class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-6 rounded m-2" type="submit" />Save
                    <button class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded" type="reset" />Cancel
                </div>
            </form>
        </div>
    </div>
</div>
<!--/Grid Form-->
<!-- TO use Jquery-->
<script src="~/js/jquery.min.js"></script>
<!-- For jquery validation plugin -->
<script src="~/plugins/JqueryValidation/jquery-1.11.1.min.js"></script>
<script src="~/plugins/JqueryValidation/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {
        // This will not allow past date
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#dpproblemstartedinvehicle').attr("min", today);
        //This is to not allow future date
        $('#dpvehicledelivered').attr("max", today);
        //This is to allow only number
        $('.numberonly').keypress(function (e) {

            var charCode = (e.which) ? e.which : event.keyCode

            if (String.fromCharCode(charCode).match(/[^0-9]/g))

                return false;
        });
    });
    //Jquery validation
    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });
    //To validate login from
    $("#Service").validate({
        //By this submit handler only we can able to use submit and button
        submitHandler: function (form) {
            form.submit();
        }
    });
</script>